html,
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #656d78;
}

body {
	width: 95%;
	margin: 0 auto;
}

h1,
form {
	margin: 40px 0 20px;
}

h1 {
	border-bottom: 1px solid #eee;
}

p {
	margin: 0 0 10px;
}

.box-title {
	margin:20px 0;
}

.box-title input[type="text"]{
	width: 50px !important;
	padding: 5px;
}

.container-box{
	margin:15px 0px 15px 0px;
	padding:15px;
	border:1px solid #efefef;
	border-radius:8px;
}

.form-input-group {
	padding: 15px 0px;
	float: left;
	width: 33.33%;
	color: #656d78;
}

.form-input-group label {
	width: 22%;
	float: left;
	font-weight: 600;
	text-align: left;
	line-height: 29px;
	color: #656d78;
}

.form-input-group div {
	float: left;
	width: 60%;
}

input[type="text"],.form-input-group input[type="text"],
.form-input-group input[type="email"] {
	height: 21px;
	/*padding: 3px 10px;*/
	font-size: 12px;
	border-radius: 3px;
	border: 1px solid #D5D5D5;
	background: #F9F9F9;
	line-height: 18px;
	width: 100%;
}

.helper-text {
	display: block;
	margin-top: 5px;
	color: #AAB2BD;
}

.form-options {
	clear: both;
	text-align: center;
}

button {
	cursor: pointer;
	margin: 15px 0px 15px 0px;
	padding: 10px 15px;
	border-radius: 4px;
	border: 0;
	font-size: 16px;
	color: #fff;
}

.btn-cancel {
	background-color: rgba(230, 21, 33, 0.83);
	border-color: rgba(230, 21, 33, 0.83);
}
.btn-cancel:hover {
	background-color: rgba(197, 42, 51, 0.83);
	border-color: rgba(197, 42, 51, 0.83);
}

.btn-send {
	background-color: rgba(14, 187, 17, 0.83);
	border-color: rgba(14, 187, 17, 0.83);
}
.btn-send:hover {
	background-color: rgba(23, 113, 24, 0.83);
	border-color: rgba(23, 113, 24, 0.83);
}

.width-75 {
	width: 66%;
}

.width-75 label {
	width: 11%;
}

.width-75 div{
	width: 81%;
}

.width-100{
	width: 100%;
}

.width-100 label {
	width: 7%;
}

.width-100 div{
    width: 87%;
}